<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Aplicación para Publicar Ofertas de Trabajo.</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->    
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

	<header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3>Encuentra los mejores servicios de mantenimiento de Vehiculos</h3>
          Puedes buscar por descripción y categoría.
          <form th:action="@{/search}" th:object="${search}" method="get" class="form-inline">
            <input type="text" th:field="*{descripcion}" class="form-control mb-3" placeholder="Escriba una búsqueda">&nbsp;
            <select th:field="*{categoria.id}" class="custom-select custom-select mb-3">
              <option th:value="${null}" selected>Seleccione una categoría</option>
              <option th:each="categoria : ${categorias}" 
					  th:value="${categoria.id}"
					  th:text="${categoria.nombre}">
			  </option>
            </select>&nbsp;
            
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>            
          </form>
        </div>
      </div>
      
      <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
      <div class="container"> 
   
     
     
     <!-- Carrusel con texto -->
<div class="row mt-3 mb-4">
    <div class="col-12 mt-3">
     <!-- en este contenedor se colocarn las imagenes y los botones
     que deseamos colocar -->
  <div class="carousel slide" id="se-carousel" data-ride="carousel">
     <!-- lo de aca me permite visualizar una especie de indicadores cuantas 
     imagenes hay en el carousel -->
     <ol class="carousel-indicators">
         <li data-target="#se-carousel "  data-slide-to="0" class="active"></li>
         <li data-target="#se-carousel "  data-slide-to="1"></li>
         <li data-target="#se-carousel "  data-slide-to="2"></li>
     </ol>
 <!-- contiene las images del carousel -->
     <div class="carouse-inner">
         <div class="carousel-item active">
            <!-- titulo de la imagen -->
            <div class="carousel-caption d-block">
                <h4>La mejor solución para servicios de mantenimiento de auto</h4>
                
            </div>
             <img src="/images/matenimiento4.png" alt="" class="img-fluid">
         </div>
 
         <div class="carousel-item">
               <!-- titulo de la imagen -->
               <div class="carousel-caption d-block">
                <h4>La mejor solución para servicios de mantenimiento de auto</h4>
                
            </div>
             <img src="/images/matenimiento2.png" alt="" class="img-fluid">
         </div>
 
         <div class="carousel-item">
               <!-- titulo de la imagen -->
               <div class="carousel-caption d-block">
                <h4>La mejor solución para servicios de mantenimiento de auto</h4>
                
            </div>
             <img src="/images/matenimiento3.jpg" alt="" class="img-fluid">
         </div>
       
     </div>
 
     <!-- feccha o icono para mobver la imagen a la izquierda -->
     <a href="#se-carousel" class="carousel-control-prev" data-slide="prev">
 
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Anterior</span>
     </a>
    <!-- feccha o icono para mobver la imagen a la derecha -->
     <a href="#se-carousel" class="carousel-control-next" data-slide="next">
 
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">siguiente</span>
     </a>
 
     
  </div>
 
 
    
    </div>
 
 </div>
 
 
  <h2 class="font-weight-bold text-center text-capitalize">SERVICIOS</h2>
        <hr>        
        <div class="row" th:each="vacante : ${vacantes}">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${vacante.imagen}) }" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <h2 th:text="${vacante.nombre}">Arquitecto</h2>
            <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${vacante.categoria.nombre}"></span></h6>
            <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${#dates.format(vacante.fecha, 'dd-MM-yyyy')}"></span></h6>
            <p th:text="${vacante.descripcion}">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" th:href="@{/vacantes/view/{id} (id=${vacante.id}) }" role="button">Ver detalles </a></p>            
          </div>
        </div> 
        <hr>         
        
      </div> <!-- /container -->

    </main>
    
    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    
  </body>
</html>